// Font import (Poppins)
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

// Colors configuration
$primary: #78CD9C;
$secondary: #1D3027;
$tertiary: #23392F;
$bg: #17261F;